[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-cohere = "*"
python-dotenv = "*"
pymilvus = "*"
langchain-milvus = "*"
langchain-openai = "*"

[dev-packages]
streamlit = "*"

[requires]
python_version = "3.9"
